<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
   {{! Bootstrap }}
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9'
      crossorigin='anonymous'
    />
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="position-relative" style="width: 100%;height:100%">

<header class="position-fixed z-1 border border-0" style="width: 100%;">
  <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand glow neon-text fs-2 m-2 mt-4" href="/">TECH BLOG</a>
    <button class="navbar-toggler glowing-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class=" glowing-txt pl-3 pt-2 pb-2">|||</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="col-sm-1"></div>
      <ul class="navbar-nav">
        {{#if logged_in}}
        <li class="nav-item ">          
          <a class="nav-link active text-white fs-4 neon-button fw-semibold text-space mt-4" aria-current="page" href="/">Home</a>
        </li>
        {{else}}
       <li class="nav-item">
          <a class="nav-link active text-white fs-4 neon-button fw-semibold text-space mt-4" aria-current="page" href="/">BLOGS</a>
        </li>
        {{/if}}
     
      </ul>
      <div class="col-xl-5"></div>
      <ul class="navbar-nav">
   {{#if logged_in}}
        <li class="nav-item">
          <a class="nav-link active text-white fs-4 fw-semibold neon-button-blue animation-delay text-space mt-4 mr-4" aria-current="page" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white fw-semibold neon-button-blue text-space mt-4 fs-4 faulty-letter-delay" id="logout" style="text-decoration: none;" aria-current="page" href="/">Logout</a>
        </li>
        {{else}}
        <li class="nav-item mr-3">
          <a class="nav-link active text-white fs-4 fw-semibold neon-button-blue animation-delay text-space mt-4" aria-current="page" href="/login">L<span class="glowing-txt">o</span>gin</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link active text-white fs-4  fw-semibold neon-button-blue text-space mt-4" aria-current="page" href="/signup"> <span class="glowing-txt">S</span>ig<span class="faulty-letter">n</span>up</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>


</header>
<div id="carouselExampleAutoplaying" class="carousel-fade position-fixed" data-bs-ride="carousel" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active " data-bs-interval="10000">
      <img src="/images/young-girl-in-virtual-reality-glasses-at-home-2023-03-31-23-20-13-utc.jpg" class="d-block " alt="..." style="height: 100vh;width:100vw;object-fit:cover">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/images/the-guy-puts-on-green-headphones-and-plays-and-vid-2021-12-15-19-48-44-utc.jpg" class="d-block " alt="..." style="height: 100vh;width:100vw;object-fit:cover">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/images/gamer-futuristic-cyber-neurology-concept-colorful-2022-02-22-05-05-59-utc.jpg" class="d-block" alt="..." style="height: 100vh;width:100vw;object-fit:cover">
    </div>
  </div>
</div>
{{!-- <div class="bg-img-1 "></div>
<div class="bg-img-2 "></div>
<div class="bg-img-3 "></div> --}}

<div class="position-relative" style="height: 20vh;"></div>


  {{!-- <div class="flex-column justify-space-around"> --}}
    {{!-- <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        {{#if logged_in}}
        <a href="/">Home</a>
        {{else}}
        <a href="/">My Blogs</a>
        {{/if}}
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>

               <a href="/login">signup</a>
        {{/if}}
      </nav>
    </header> --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  {{!-- </div> --}}
 {{! Bootstrap Script }}
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm'
      crossorigin='anonymous'
    ></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
